<nav id="navbar-example2" class="navbar navbar-expand-lg bg-dark px-3 mb-3">
  <a class="navbar-brand text-light" href="#">Gestion des Films</a>
  <div class="w-100 d-flex justify-content-center">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a
          class="nav-link text-light"
          routerLink="/list"
          routerLinkActive="active"
          >Film List</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link text-light"
          routerLink="/add"
          routerLinkActive="active"
          >Add New Film</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link text-light"
          routerLink="/detail"
          routerLinkActive="active"
          >Film Detail</a
        >
      </li>
    </ul>
  </div>
  <a href="../../assets/Oussema-Taboubi.pdf" download="Oussema-Taboubi.pdf">
    <button class="btn btn-outline-success">Download CV</button>
  </a>
</nav>
